.ForumKategorije {
  width: 50%;
  padding: 1rem 0 0 0;
}

.Kartica {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  margin: 1rem;
  width: 80%;
  box-shadow: 0 4px 8px #ccc;
  transition: all 0.5s;
}

.Kartica:hover {
  box-shadow: 0 8px 16px #ccc;
}

.Content {
  width: 75%;
}

.Content h3 {
  margin: 0.5rem 0;
  padding: 0;
}

.Content p {
  margin: 0;
  padding: 0;
}

.Topics {
  padding: 1rem 0.2rem;
  color: #929292;
  font-size: 1.1rem;
}
