.Header {
  background-color: #161616;
  z-index: 10000;
}

.HeaderWidth {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.Header img {
  max-height: 6rem;
  padding: 0;
}

.Links {
  display: flex;
  margin: auto 0;
  z-index: 1000;
}

.Link {
  text-decoration: none;
  z-index: 1000;
  border: 2px solid white;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
}

.Link:active {
  text-decoration: none;
  z-index: 1000;
  border: 2px solid white;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
}

.Text {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
}

@media only screen and (max-width: 740px) {
  .Link {
    padding: 0.4rem 0.2rem;
    margin-left: 0rem;
    margin-right: 0.4rem;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 6.8rem;
  }
  .Text {
    margin-left: 0;
  }
  .HeaderWidth {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 350px) {
  .Link {
    padding: 0.2rem 0.4rem;
    margin-left: 0;
    margin-right: 0.1rem;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 4.6rem;
  }
  .Text {
    margin-left: 0;
    margin-right: 0rem;
  }
  .HeaderWidth {
    margin-left: 0rem;
  }
}
