.Header {
  background-color: #161616;
}

.HeaderWidth {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.Header img {
  max-height: 6rem;
  padding: 0;
}

.Links {
  display: flex;
  margin: auto 0;
}

.Link {
  text-decoration: none;
  border: 2px solid white;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
}

.Text {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
}
