.Header {
  background-color: #161616;
  z-index: 10000;
  overflow: hidden;
}

.NB_resp{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: none;
  padding: 1rem 2rem 1rem 0.4rem;
  z-index: 1000;
}

.Link_resp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  background: none;
  box-shadow: none;
  border: none;
  font-size: 16px;
}

.NB{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.hamburger{
  display: none;
  position: absolute;
  top: 4%;
  right: 5%;
}

.Link p {
  white-space: nowrap;
}

.HeaderWidth {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.Header img {
  max-height: 6rem;
  padding: 0;
}

.Links {
  display: flex;
  margin: auto 0;
  z-index: 1000;
}

.Link {
  text-decoration: none;
  z-index: 1000;
  border: 2px solid white;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
}

.Link:active {
  text-decoration: none;
  z-index: 1000;
  border: 2px solid white;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
}

.Text {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.7rem;
  color: white;
  font-size: 0.9rem;
}

@media only screen and (max-width: 850px) {
  .NB_resp{
    display: flex;
  }
  .Text {
    position: absolute;
    top: 3%;
    left: 18%;
    font-size: 1rem;
  }
  .HeaderWidth {
    margin-left: 0rem;
  }
  .Link {
    width: 100px;
  }
  .Links{
    display: block;
  }
  .Link{
    display: none;
  }
  .hamburger{
    display: flex;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .HeaderWidth {
    margin-left: 0rem;
  }
}
