.Button {
  height: 4rem;
  width: 4rem;
  background-color: #18bc9c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 85%;
  left: 92%;
  box-shadow: 0 4px 8px #ccc;
  border: none;
  box-shadow: none;
}

.Sticky {
  left: 90%;
  top: 90%;
  position: fixed;
  transform: translateZ(0);
  padding: 20px;
  font-size: 1.1rem;
  background-color: #18bc9c;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 87%;
  left: 92%;
  box-shadow: 0 4px 8px #ccc;
  border: none;
  transition: 0s;
  transform-origin: left;
}

.Sticky:active {
  border: none;
}

.Sticky:focus {
  outline: none;
}

.Sticky:hover {
  border-radius:20% 20% 20% 20% / 50% 50% 50% 50% ;
  color: white;
  transform: translateX(-60%);
  transition: 0ms;
}

.Sticky:hover::after {
  content: "New Topic";
  color: white;
}
