.Forum {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: #fafafa;
}

.ForumCentar {
  display: flex;
}

.Background {
  background-color: #fafafa;
}

@media only screen and (max-width: 740px) { 
  .Forum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .ForumCentar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

